# Copy this file to .env and fill in real values. Never commit .env itself.

AWS_REGION=your-aws-region-here
S3_BUCKET=-your-s3-name
S3_LANDING_PREFIX=s3-prefix/here/

SNOWFLAKE_ACCOUNT=-ACCOUNT-HERE
SNOWFLAKE_USER=SOMETHING-USER
SNOWFLAKE_PASSWORD=text here
SNOWFLAKE_WAREHOUSE=WAREHOUSENAME_NM
SNOWFLAKE_DATABASE=DATABASENAME_HERE
SNOWFLAKE_RAW_SCHEMA=RAW_SCHEMANAME_HERE

LOCAL_DATA_DIR=location/here
